<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>young运维知识分享平台</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top ">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">品牌LOGO</a>
        </div>
        <ul class="nav navbar-nav navbar-static-top navbar-right">
            <li class="active"> <a href="#">首页</a></li>
            <li> <a href="#">linux</a></li>
            <li> <a href="#">python</a></li>
            <li> <a href="#">golang</a></li>
            <li> <a href="#">自动化</a></li>
            <li> <a href="#">网络</a></li>
            <li> <a href="#">数据库</a></li>
            <li> <a href="#">关于博主</a></li>
            <li> <a href="#">登录/注册</a></li>

        </ul>
    </div>
</nav>

<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script type="application/javascript">

</script>
</body>
</html>